<div class="main-container">

  <h2>Welcome to travel agency admin page!</h2>

  <div class="user-actions-grid">
    <div class="user-action-container">
      <a routerLink="/passenger">
        <div class="user-action-icon">🧑‍🤝‍🧑</div>
        <h3>Passenger management</h3>
      </a>
    </div>
    <div class="user-action-container">
      <a routerLink="/destination">
        <div class="user-action-icon">🌎</div>
        <h3>Destination management</h3>
      </a>
    </div>
    <div class="user-action-container">
      <a routerLink="/tickets">
        <div class="user-action-icon">✈️</div>
        <h3>Tickets</h3>
      </a>
    </div>
    <div class="user-action-container">
      <a routerLink="/refunds">
        <div class="user-action-icon">💸</div>
        <h3>Refunds</h3>
      </a>
    </div>
    <div class="user-action-container">
      <a routerLink="/receipts">
        <div class="user-action-icon">💰</div>
        <h3>Receipts</h3>
      </a>
    </div>
    <div class="user-action-container">
      <a routerLink="/settings">
        <div class="user-action-icon">⚙️</div>
        <h3>Settings</h3>
      </a>
    </div>
  </div>
</div>
