.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #ffffff;
}

.destination-container p {
    font-size: 24px;
    text-align: center;
}

.flag-container {
    width: 300px;
    height: 200px;
}