/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Courier', Times, serif;
  background-color: #E6E6E6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: beige;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
